@model TaskManager.Web.Models.LoginModel

@using (Html.BeginForm("JsonLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", Class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Log in Form</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.UserName, new Dictionary<string, object> { { "class", "control-label" } })
            <div class="controls">
                @Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus", id = "loginName" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.Password, new Dictionary<string, object> { { "class", "control-label" } })
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    Remember me
                </label>
            <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </div>

        @Html.ValidationSummary()
    </fieldset>
}